/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2017, 10:00:42 PM
    Author     : mandravinus
*/
/*
    Import the fonts for the site
*/
@font-face {
  font-family: Garamond;
  src: url("../fonts/EBGaramond12-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Garamond;
  src: url("../fonts/EBGaramond08-Regular.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Garamond;
  src: url("fonts/EBGaramond12-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: Garamond;
  src: url("fonts/EBGaramond08-Italic.ttf");
  font-style: italic;
  font-weight: bold;
}
/*
  To enable when I have sorted out exactly how to treat this widget.
  the options are to set a background div, or to sort out how to put paddings
  on an inline-block div.
*/
/* line 88, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content > .label-rectangle {
  /*  display: inline-block;
    width: 50px;*/
}

/* line 94, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.article_ak > .label-rectangle {
  background-color: #e88e6d;
}
/* line 97, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.article_ak > .little-square {
  border-color: #e88e6d;
}

/* line 103, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.article_repost > .label-rectangle {
  background-color: #6fd26c;
}
/* line 106, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.article_repost > .little-square {
  border-color: #6fd26c;
}

/* line 112, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.article_translation > .label-rectangle {
  background-color: #5fa5c5;
}
/* line 115, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.article_translation > .little-square {
  border-color: #5fa5c5;
}

/* line 121, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.apo_koinou_news > .label-rectangle, .apo-koinou.category-indicator.indicator-content.news_ak > .label-rectangle {
  background-color: #9b52b1;
}
/* line 124, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.apo_koinou_news > .little-square, .apo-koinou.category-indicator.indicator-content.news_ak > .little-square {
  border-color: #9b52b1;
}

/* line 130, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.action_ak > .label-rectangle {
  background-color: #c5b54f;
}
/* line 133, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.action_ak > .little-square {
  border-color: #c5b54f;
}

/* line 139, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.action_participation > .label-rectangle {
  background-color: #f64848;
}
/* line 142, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.category-indicator.indicator-content.action_participation > .little-square {
  border-color: #f64848;
}

/* line 148, ../sass/partials/_sitewide-styles.scss */
body {
  background-color: white;
  font-family: Garamond;
}

/* line 153, ../sass/partials/_sitewide-styles.scss */
div.post-section-wrapper {
  background-color: #f0f7ef;
}

/* line 157, ../sass/partials/_sitewide-styles.scss */
h1.apo-koinou.page-title.page-title-text {
  color: #3c6059;
  display: inline-block;
}

/* line 162, ../sass/partials/_sitewide-styles.scss */
a.apo-koinou.page-title.page-title-link {
  display: inline-block;
}

/* line 165, ../sass/partials/_sitewide-styles.scss */
.apo-koinou.breadcrumbs.breadcrumbs-symbol {
  color: #e9642f;
  display: inline-block;
}

/* line 170, ../sass/partials/_sitewide-styles.scss */
h3.apo-koinou.breadcrumbs.breadcrumbs-text {
  color: #6a928a;
  display: inline-block;
}

@media screen and (max-width: 320px) {
  /* line 177, ../sass/partials/_sitewide-styles.scss */
  h1.apo-koinou.page-title.page-title-text {
    font-size: 34px;
  }

  /* line 180, ../sass/partials/_sitewide-styles.scss */
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol {
    font-size: 22.1px;
  }

  /* line 183, ../sass/partials/_sitewide-styles.scss */
  h3.apo-koinou.breadcrumbs.breadcrumbs-text {
    font-size: 22.1px;
  }

  /* line 186, ../sass/partials/_sitewide-styles.scss */
  h2.apo-koinou.static-title.title-text {
    font-size: 27.2px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* line 192, ../sass/partials/_sitewide-styles.scss */
  h1.apo-koinou.page-title.page-title-text {
    font-size: 39.1px;
  }

  /* line 195, ../sass/partials/_sitewide-styles.scss */
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol {
    font-size: 25.415px;
  }

  /* line 198, ../sass/partials/_sitewide-styles.scss */
  h3.apo-koinou.breadcrumbs.breadcrumbs-text {
    font-size: 25.415px;
  }

  /* line 201, ../sass/partials/_sitewide-styles.scss */
  h2.apo-koinou.static-title.title-text {
    font-size: 31.28px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 207, ../sass/partials/_sitewide-styles.scss */
  h1.apo-koinou.page-title.page-title-text {
    font-size: 39.1px;
  }

  /* line 210, ../sass/partials/_sitewide-styles.scss */
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol {
    font-size: 25.415px;
  }

  /* line 213, ../sass/partials/_sitewide-styles.scss */
  h3.apo-koinou.breadcrumbs.breadcrumbs-text {
    font-size: 25.415px;
  }

  /* line 216, ../sass/partials/_sitewide-styles.scss */
  h2.apo-koinou.static-title.title-text {
    font-size: 31.28px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* line 222, ../sass/partials/_sitewide-styles.scss */
  h1.apo-koinou.page-title.page-title-text {
    font-size: 49.3px;
  }

  /* line 225, ../sass/partials/_sitewide-styles.scss */
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol {
    font-size: 32.045px;
  }

  /* line 228, ../sass/partials/_sitewide-styles.scss */
  h3.apo-koinou.breadcrumbs.breadcrumbs-text {
    font-size: 32.045px;
  }

  /* line 231, ../sass/partials/_sitewide-styles.scss */
  h2.apo-koinou.static-title.title-text {
    font-size: 39.44px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* line 237, ../sass/partials/_sitewide-styles.scss */
  h1.apo-koinou.page-title.page-title-text {
    font-size: 49.3px;
  }

  /* line 240, ../sass/partials/_sitewide-styles.scss */
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol {
    font-size: 32.045px;
  }

  /* line 243, ../sass/partials/_sitewide-styles.scss */
  h3.apo-koinou.breadcrumbs.breadcrumbs-text {
    font-size: 32.045px;
  }

  /* line 246, ../sass/partials/_sitewide-styles.scss */
  h2.apo-koinou.static-title.title-text {
    font-size: 39.44px;
  }
}
@media screen and (min-width: 1201px) {
  /* line 252, ../sass/partials/_sitewide-styles.scss */
  h1.apo-koinou.page-title.page-title-text {
    font-size: 49.3px;
  }

  /* line 255, ../sass/partials/_sitewide-styles.scss */
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol {
    font-size: 32.045px;
  }

  /* line 258, ../sass/partials/_sitewide-styles.scss */
  h3.apo-koinou.breadcrumbs.breadcrumbs-text {
    font-size: 32.045px;
  }

  /* line 261, ../sass/partials/_sitewide-styles.scss */
  h2.apo-koinou.static-title.title-text {
    font-size: 39.44px;
  }
}
/* 
    Created on : Jan 31, 2017, 9:59:16 PM
    Author     : mandravinus
*/
/* line 6, ../sass/partials/_nav-menu.scss */
.apo-koinou.masthead.super-container {
  background-color: #fdfbf3;
  padding-bottom: 18px;
}

/* line 11, ../sass/partials/_nav-menu.scss */
.apo-koinou.ak-menu-left-wrapper {
  float: left;
  margin-right: 30px;
}
/* line 14, ../sass/partials/_nav-menu.scss */
.apo-koinou.ak-menu-left-wrapper img {
  display: block;
  width: 165px;
  height: auto;
}

/* line 22, ../sass/partials/_nav-menu.scss */
.apo-koinou.ak-menu-right-wrapper .sub-menu {
  display: none;
}

/* line 27, ../sass/partials/_nav-menu.scss */
.apo-koinou.ak-site-title.l2-wrapper {
  margin-top: 8px;
}

/* line 31, ../sass/partials/_nav-menu.scss */
.apo-koinou.ak-site-title.site-title-main {
  display: inline-block;
  font-size: 59.5px;
  color: #4e7c71;
}

/* line 37, ../sass/partials/_nav-menu.scss */
.apo-koinou.ak-site-title.site-title-orange-dot {
  display: inline-block;
  background-image: url("/wp-content/themes/apokoinou/img/orange-ball-sep.png");
  background-size: 12px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
  bottom: 6px;
}

/* line 50, ../sass/partials/_nav-menu.scss */
.menu-main-nav-menu-container {
  float: left;
  position: relative;
  top: 10px;
}

/* line 57, ../sass/partials/_nav-menu.scss */
.apo-koinou.ak-site-title.site-title-sub {
  display: inline-block;
  font-size: 27.2px;
  color: #4e7c71;
  position: relative;
  bottom: 4px;
}

/* The main menu rules */
/* line 66, ../sass/partials/_nav-menu.scss */
#menu-main-nav-menu {
  padding-left: 17px;
  padding-right: 17px;
  background-color: #cfe5cc;
  /*  .menu-item::after{
      content: '|';
      font-size: 26px;
      color: $ak-color-main-orange;
      margin-left: 13px;
      position: relative;
    }*/
}
/* line 71, ../sass/partials/_nav-menu.scss */
#menu-main-nav-menu .menu-item {
  font-size: 28px;
  /*width: 120px;*/
  text-align: center;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 8px;
  padding-bottom: 5px;
  position: relative;
}
/* line 82, ../sass/partials/_nav-menu.scss */
#menu-main-nav-menu .menu-item.current-menu-item, #menu-main-nav-menu .current-menu-ancestor {
  background-color: #b5d7b1;
}
/* line 92, ../sass/partials/_nav-menu.scss */
#menu-main-nav-menu .menu-item:hover .sub-menu {
  display: block;
  position: absolute;
  top: 23px;
  left: 0px;
}
/* line 99, ../sass/partials/_nav-menu.scss */
#menu-main-nav-menu .sub-menu {
  background-color: #637b5f;
  padding: 0px;
  margin-top: 30px;
  border-radius: 1px;
  width: 150%;
  color: #fbfbfb;
}
/* line 106, ../sass/partials/_nav-menu.scss */
#menu-main-nav-menu .sub-menu .menu-item {
  display: block;
  font-size: 20px;
  margin: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 1.2em;
  text-align: left;
}
/* line 117, ../sass/partials/_nav-menu.scss */
#menu-main-nav-menu .sub-menu a {
  color: inherit;
}

/*#menu-main-nav-menu .sub-menu .rolled-up{
    display: block;
    li{
        display: block;
        border: none;
    }
}*/
/* line 137, ../sass/partials/_nav-menu.scss */
li.menu-item {
  display: inline-block;
}

/* line 141, ../sass/partials/_nav-menu.scss */
li.menu-item a:link {
  color: #e9642f;
}

/* line 145, ../sass/partials/_nav-menu.scss */
li.menu-item a:visited {
  color: #e9642f;
}

/* line 149, ../sass/partials/_nav-menu.scss */
li.menu-item a:hover {
  color: #f8af1c;
}

/* line 153, ../sass/partials/_nav-menu.scss */
.apo-koinou.ak-logo.l1-wrapper {
  display: inline;
}

/* line 157, ../sass/partials/_nav-menu.scss */
.apo-koinou.ak-logo.l2-wrapper {
  display: inline;
}

/*img.apo-koinou.logo-img{
    height: 170px;
}*/
/* line 1, ../sass/partials/_generic-archive.scss */
article.apo-koinou.article-marquee {
  display: block;
  width: 100%;
  background-color: #3c6059;
  overflow: auto;
  color: #fbfbfb;
}
/* line 7, ../sass/partials/_generic-archive.scss */
article.apo-koinou.article-marquee a:link {
  color: #fbfbfb;
}
/* line 10, ../sass/partials/_generic-archive.scss */
article.apo-koinou.article-marquee a:visited {
  color: #fbfbfb;
}
/* line 13, ../sass/partials/_generic-archive.scss */
article.apo-koinou.article-marquee a:hover {
  color: #fbfbfb;
}

/* line 18, ../sass/partials/_generic-archive.scss */
div.apo-koinou.article-marquee.textual-elements {
  padding: 6px;
  padding-left: 12px;
}
/* line 21, ../sass/partials/_generic-archive.scss */
div.apo-koinou.article-marquee.textual-elements > .l1-wrapper {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 25, ../sass/partials/_generic-archive.scss */
div.apo-koinou.article-marquee.textual-elements > .archive.article-excerpt.l1-wrapper {
  margin-top: 14px;
}

/* line 31, ../sass/partials/_generic-archive.scss */
.apo-koinou.category-indicator.label-rectangle {
  background-color: fuchsia;
  display: inline;
  padding: 3px;
  padding-left: 4px;
  padding-bottom: 2px;
  padding-right: 4px;
  height: 18px;
}

/* line 41, ../sass/partials/_generic-archive.scss */
.apo-koinou.category-indicator.little-square {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: beige;
  border-color: fuchsia;
  border-style: solid;
  border-width: 4px;
  border-radius: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0px;
  position: relative;
  top: 6px;
}

/* line 58, ../sass/partials/_generic-archive.scss */
div.apo-koinou.archive.article-separator-ball {
  width: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* line 65, ../sass/partials/_generic-archive.scss */
div.apo-koinou.archive.article-separator-ball > img {
  width: 12px;
}

@media screen and (max-width: 320px) {
  /* line 70, ../sass/partials/_generic-archive.scss */
  img.apo-koinou.archive.article-title.featured-image {
    width: 100%;
  }

  /* line 73, ../sass/partials/_generic-archive.scss */
  .apo-koinou.archive.article-excerpt.excerpt-text {
    font-size: 16px;
  }

  /* line 76, ../sass/partials/_generic-archive.scss */
  .apo-koinou.archive.article-title.date-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* line 82, ../sass/partials/_generic-archive.scss */
  img.apo-koinou.archive.article-title.featured-image {
    width: 100%;
  }

  /* line 85, ../sass/partials/_generic-archive.scss */
  .apo-koinou.archive.article-excerpt.excerpt-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 91, ../sass/partials/_generic-archive.scss */
  img.apo-koinou.archive.article-title.featured-image {
    width: 100%;
  }

  /* line 94, ../sass/partials/_generic-archive.scss */
  .apo-koinou.archive.article-excerpt.excerpt-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* line 101, ../sass/partials/_generic-archive.scss */
  img.apo-koinou.archive.article-title.featured-image {
    width: 50%;
    float: right;
  }

  /* line 105, ../sass/partials/_generic-archive.scss */
  .apo-koinou.archive.article-excerpt.excerpt-text {
    font-size: 18.4px;
  }
}
@media screen and (min-width: 993px) {
  /* line 111, ../sass/partials/_generic-archive.scss */
  img.apo-koinou.archive.article-title.featured-image {
    width: 50%;
    float: right;
  }

  /* line 115, ../sass/partials/_generic-archive.scss */
  .apo-koinou.archive.article-excerpt.excerpt-text {
    font-size: 18.4px;
  }
}
/* line 1, ../sass/partials/_generic-single.scss */
header.apo-koinou.single.article-header {
  position: relative;
}

/* line 5, ../sass/partials/_generic-single.scss */
.apo-koinou.single.article-featured.l2-wrapper {
  width: 100%;
  background-color: #3c6059;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 11, ../sass/partials/_generic-single.scss */
.apo-koinou.single.article-featured.l2-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

/* line 19, ../sass/partials/_generic-single.scss */
.apo-koinou.article-content.l1-wrapper {
  margin-top: 25px;
}

@media screen and (max-width: 320px) {
  /* line 24, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-featured.l2-wrapper {
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* line 31, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper {
    background-color: #3c6059;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  /* line 36, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper h1 {
    color: white;
    margin: 0px;
  }

  /* line 42, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper {
    background-color: #3c6059;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  /* line 47, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper span {
    color: white;
    margin: 0px;
  }

  /* line 53, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper {
    background-color: #3c6059;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  /* line 58, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper * {
    color: #fbfbfb;
    margin: 0px;
  }

  /* line 64, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.category-indicator.l2-wrapper {
    background-color: #3c6059;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* line 71, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text {
    font-size: 18px;
    text-align: justify;
    text-indent: 1.2em;
  }
  /* line 75, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text p {
    text-align: inherit;
    text-indent: inherit;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* line 83, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-featured.l2-wrapper {
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* line 90, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper {
    background-color: #3c6059;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  /* line 95, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper h1 {
    color: #fbfbfb;
    margin: 0px;
  }

  /* line 101, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper {
    background-color: #3c6059;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  /* line 106, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper span {
    color: white;
    margin: 0px;
  }

  /* line 112, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper {
    background-color: #3c6059;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  /* line 117, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper * {
    color: #fbfbfb;
    margin: 0px;
  }

  /* line 123, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.category-indicator.l2-wrapper {
    background-color: #3c6059;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* line 130, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text {
    font-size: 18px;
    text-align: justify;
    text-indent: 1.2em;
  }
  /* line 134, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text p {
    text-align: inherit;
    text-indent: inherit;
  }

  /* line 142, ../sass/partials/_generic-single.scss */
  img.apo-koinou.archive.article-title.featured-image {
    width: 100%;
  }

  /* line 145, ../sass/partials/_generic-single.scss */
  .apo-koinou.archive.article-excerpt.excerpt-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 151, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-featured.l2-wrapper {
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* line 158, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper {
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 164, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper h1 {
    color: inherit;
  }

  /* line 169, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 175, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper h1 {
    color: inherit;
  }

  /* line 180, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper {
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 187, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper span {
    color: inherit;
  }

  /* line 192, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.category-indicator.l2-wrapper {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 198, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.category-indicator.l2-wrapper h1 {
    color: inherit;
  }

  /* line 203, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text {
    font-size: 20.7px;
    text-align: justify;
    text-indent: 1.2em;
  }
  /* line 207, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text p {
    text-align: inherit;
    text-indent: inherit;
  }

  /* line 214, ../sass/partials/_generic-single.scss */
  img.apo-koinou.archive.article-title.featured-image {
    width: 100%;
  }

  /* line 217, ../sass/partials/_generic-single.scss */
  .apo-koinou.archive.article-excerpt.excerpt-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* line 224, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-featured.l2-wrapper {
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* line 231, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper {
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 237, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper h1 {
    color: inherit;
  }

  /* line 242, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 248, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper h1 {
    color: inherit;
  }

  /* line 253, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper {
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 260, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper span {
    color: inherit;
  }

  /* line 265, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.category-indicator.l2-wrapper {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 271, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.category-indicator.l2-wrapper h1 {
    color: inherit;
  }

  /* line 276, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text {
    font-size: 23.4px;
    text-align: justify;
    text-indent: 1.2em;
  }
  /* line 280, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text p {
    text-align: inherit;
    text-indent: inherit;
  }

  /* line 288, ../sass/partials/_generic-single.scss */
  img.apo-koinou.archive.article-title.featured-image {
    width: 50%;
    float: right;
  }

  /* line 292, ../sass/partials/_generic-single.scss */
  .apo-koinou.archive.article-excerpt.excerpt-text {
    font-size: 18.4px;
  }
}
@media screen and (min-width: 993px) {
  /* line 298, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-featured.l2-wrapper {
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* line 305, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper {
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 311, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-title.l2-wrapper h1 {
    color: inherit;
  }

  /* line 316, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 322, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.article-date.l2-wrapper h1 {
    color: inherit;
  }

  /* line 327, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper {
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 334, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.first-author.l2-wrapper span {
    color: inherit;
  }

  /* line 339, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.category-indicator.l2-wrapper {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
  }
  /* line 345, ../sass/partials/_generic-single.scss */
  .apo-koinou.single.category-indicator.l2-wrapper h1 {
    color: inherit;
  }

  /* line 350, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text {
    font-size: 23.4px;
    text-align: justify;
    text-indent: 1.2em;
  }
  /* line 354, ../sass/partials/_generic-single.scss */
  .apo-koinou.content-text p {
    text-align: inherit;
    text-indent: inherit;
  }

  /* line 360, ../sass/partials/_generic-single.scss */
  img.apo-koinou.archive.article-title.featured-image {
    width: 50%;
    float: right;
  }

  /* line 364, ../sass/partials/_generic-single.scss */
  .apo-koinou.archive.article-excerpt.excerpt-text {
    font-size: 18.4px;
  }
}

/*# sourceMappingURL=style.css.map */
