/* line 3, ../sass/temp-style.scss */
.gradient-wallpaper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7da099+0,ffffff+100 */
  background: #7da099;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7da099 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7da099 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7da099 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7da099', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

/* line 12, ../sass/temp-style.scss */
.pattern-wallpaper {
  background-image: url("/img/temp-wall-pattern.png");
  background-repeat: repeat;
}

/*# sourceMappingURL=temp-style.css.map */
