article.apo-koinou.article-marquee{
  display: block;
  width: 100%;
  background-color: $ak-color-archive-article-title-green;
  overflow: auto;
  color: $ak-color-article-text-white;
  a:link{
    color: $ak-color-article-text-white;
  }
  a:visited{
    color: $ak-color-article-text-white;
  }
  a:hover{
    color: $ak-color-article-text-white;
  }
}

div.apo-koinou.article-marquee.textual-elements{
  padding: 6px;
  padding-left: 12px;
  & > .l1-wrapper{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  & > .archive.article-excerpt.l1-wrapper{
    margin-top: 14px;
  }
}


.apo-koinou.category-indicator.label-rectangle{
  background-color: fuchsia;
  display: inline;
  padding: 3px;
  padding-left: 4px;
  padding-bottom: 2px;
  padding-right: 4px;  
  height: 18px;
}

.apo-koinou.category-indicator.little-square{
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: beige;
  border-color: fuchsia;
  border-style: solid;
  border-width: 4px;
  border-radius: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0px;
  position: relative;
  top: 6px;
}

div.apo-koinou.archive.article-separator-ball{
  width: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
div.apo-koinou.archive.article-separator-ball > img{
  width: 12px;
}

@media screen and (max-width: 320px){
  img.apo-koinou.archive.article-title.featured-image{
    width: 100%;
  }
  .apo-koinou.archive.article-excerpt.excerpt-text{
    font-size: $ak-font-size-preview-text;
  }
  .apo-koinou.archive.article-title.date-text{
    font-size: $ak-font-size-preview-date;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px){
  img.apo-koinou.archive.article-title.featured-image{
    width: 100%;
  }
  .apo-koinou.archive.article-excerpt.excerpt-text{
    font-size: $ak-font-size-preview-text*$ak-font-scale-factor-0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  img.apo-koinou.archive.article-title.featured-image{
    width: 100%;
  }
  .apo-koinou.archive.article-excerpt.excerpt-text{
    font-size: $ak-font-size-preview-text*$ak-font-scale-factor-0;
  }
  
}

@media screen and (min-width: 769px) and (max-width: 992px){
  img.apo-koinou.archive.article-title.featured-image{
    width: 50%;
    float: right;
  }
  .apo-koinou.archive.article-excerpt.excerpt-text{
    font-size: $ak-font-size-preview-text*$ak-font-scale-factor-1;
  }
}

@media screen and (min-width: 993px){
  img.apo-koinou.archive.article-title.featured-image{
    width: 50%;
    float: right;
  }
  .apo-koinou.archive.article-excerpt.excerpt-text{
    font-size: $ak-font-size-preview-text*$ak-font-scale-factor-1;
  }
}
