header.apo-koinou.single.article-header{
  position:relative;
}

.apo-koinou.single.article-featured.l2-wrapper{
  width: 100%;
  background-color: $ak-color-archive-article-title-green;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  & img{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
  } 
}

.apo-koinou.article-content.l1-wrapper{
  margin-top: 25px;
}

@media screen and (max-width: 320px){
  .apo-koinou.single.article-featured.l2-wrapper{
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .apo-koinou.single.article-title.l2-wrapper{
    background-color: $ak-color-archive-article-title-green;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    & h1{
      color: white;
      margin: 0px;
    }
  }
  
  .apo-koinou.single.article-date.l2-wrapper{
    background-color: $ak-color-archive-article-title-green;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    & span{
      color: white;
      margin: 0px;
    }
  }
  
  .apo-koinou.single.first-author.l2-wrapper{
    background-color: $ak-color-archive-article-title-green;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    & *{
      color: $ak-color-article-text-white;
      margin: 0px;
    }
  }
  
  .apo-koinou.single.category-indicator.l2-wrapper{
    background-color: $ak-color-archive-article-title-green;;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .apo-koinou.content-text{
    font-size: $ak-font-size-single-text*$ak-font-scale-factor-0;
    text-align: justify;
    text-indent: $ak-article-text-indent*$ak-font-scale-factor-0;
    & p{
      text-align: inherit;
      text-indent: inherit
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px){
  .apo-koinou.single.article-featured.l2-wrapper{
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .apo-koinou.single.article-title.l2-wrapper{
    background-color: $ak-color-archive-article-title-green;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    & h1{
      color: $ak-color-article-text-white;
      margin: 0px;
    }
  }
  
  .apo-koinou.single.article-date.l2-wrapper{
    background-color: $ak-color-archive-article-title-green;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    & span{
      color: white;
      margin: 0px;
    }
  }
  
  .apo-koinou.single.first-author.l2-wrapper{
    background-color: $ak-color-archive-article-title-green;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    & *{
      color: $ak-color-article-text-white;
      margin: 0px;
    }
  }
  
  .apo-koinou.single.category-indicator.l2-wrapper{
    background-color: $ak-color-archive-article-title-green;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .apo-koinou.content-text{
    font-size: $ak-font-size-single-text*$ak-font-scale-factor-0;
    text-align: justify;
    text-indent: $ak-article-text-indent*$ak-font-scale-factor-0;
    & p{
      text-align: inherit;
      text-indent: inherit
    }
  }
  
  
  
  img.apo-koinou.archive.article-title.featured-image{
    width: 100%;
  }
  .apo-koinou.archive.article-excerpt.excerpt-text{
    font-size: $ak-font-size-preview-text*$ak-font-scale-factor-0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  .apo-koinou.single.article-featured.l2-wrapper{
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .apo-koinou.single.article-title.l2-wrapper{
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & h1{
      color: inherit;
    }
  }
  
  .apo-koinou.single.article-date.l2-wrapper{
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & h1{
      color: inherit;
    }
  }
  
  .apo-koinou.single.first-author.l2-wrapper{
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & span{
      color: inherit;
    }
  }
  
  .apo-koinou.single.category-indicator.l2-wrapper{
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & h1{
      color: inherit;
    }
  }
  
  .apo-koinou.content-text{
    font-size: $ak-font-size-single-text*$ak-font-scale-factor-1;
    text-align: justify;
    text-indent: $ak-article-text-indent*$ak-font-scale-factor-0;
    & p{
      text-align: inherit;
      text-indent: inherit
    }
  }
  
  
  img.apo-koinou.archive.article-title.featured-image{
    width: 100%;
  }
  .apo-koinou.archive.article-excerpt.excerpt-text{
    font-size: $ak-font-size-preview-text*$ak-font-scale-factor-0;
  }
  
}

@media screen and (min-width: 769px) and (max-width: 992px){
  .apo-koinou.single.article-featured.l2-wrapper{
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .apo-koinou.single.article-title.l2-wrapper{
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & h1{
      color: inherit;
    }
  }
  
  .apo-koinou.single.article-date.l2-wrapper{
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & h1{
      color: inherit;
    }
  }
  
  .apo-koinou.single.first-author.l2-wrapper{
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & span{
      color: inherit;
    }
  }
  
  .apo-koinou.single.category-indicator.l2-wrapper{
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & h1{
      color: inherit;
    }
  }
  
  .apo-koinou.content-text{
    font-size: $ak-font-size-single-text*$ak-font-scale-factor-2;
    text-align: justify;
    text-indent: $ak-article-text-indent*$ak-font-scale-factor-0;
    & p{
      text-align: inherit;
      text-indent: inherit
    }
  }
  
  
  
  img.apo-koinou.archive.article-title.featured-image{
    width: 50%;
    float: right;
  }
  .apo-koinou.archive.article-excerpt.excerpt-text{
    font-size: $ak-font-size-preview-text*$ak-font-scale-factor-1;
  }
}

@media screen and (min-width: 993px){
  .apo-koinou.single.article-featured.l2-wrapper{
    width: 100%;
    padding: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .apo-koinou.single.article-title.l2-wrapper{
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & h1{
      color: inherit;
    }
  }
  
  .apo-koinou.single.article-date.l2-wrapper{
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & h1{
      color: inherit;
    }
  }
  
  .apo-koinou.single.first-author.l2-wrapper{
    display: inline-block;
    position: absolute;
    bottom: 45px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & span{
      color: inherit;
    }
  }
  
  .apo-koinou.single.category-indicator.l2-wrapper{
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    text-shadow: 0px 0px 2px black;
    & h1{
      color: inherit;
    }
  }
    
  .apo-koinou.content-text{
    font-size: $ak-font-size-single-text*$ak-font-scale-factor-2;    
    text-align: justify;
    text-indent: $ak-article-text-indent*$ak-font-scale-factor-0;
    & p{
      text-align: inherit;
      text-indent: inherit
    }
  }
  
  img.apo-koinou.archive.article-title.featured-image{
    width: 50%;
    float: right;
  }
  .apo-koinou.archive.article-excerpt.excerpt-text{
    font-size: $ak-font-size-preview-text*$ak-font-scale-factor-1;
  }
}
