/* 
    Created on : Jan 31, 2017, 9:59:16 PM
    Author     : mandravinus
*/

.apo-koinou.masthead.super-container{
  background-color: $ak-color-header-section-background;
  padding-bottom: 18px; 
}

.apo-koinou.ak-menu-left-wrapper{
  float: left;
  margin-right: 30px;
  img{
    display: block;
    width: 165px;
    height: auto;
  }
}

.apo-koinou.ak-menu-right-wrapper{
  .sub-menu{
    display: none;
  }
}

.apo-koinou.ak-site-title.l2-wrapper{
  margin-top: 8px;
}

.apo-koinou.ak-site-title.site-title-main{
  display: inline-block;
  font-size: $ak-font-size-h1*$ak-font-scale-factor-5;
  color: $ak-color-title-menu-green;
}

.apo-koinou.ak-site-title.site-title-orange-dot{
  display: inline-block;
  background-image: url('/wp-content/themes/apokoinou/img/orange-ball-sep.png');
  background-size: 12px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
  bottom: 6px;
}
 
.menu-main-nav-menu-container{
  float: left;
  position: relative;
  top: 10px;
  
}

.apo-koinou.ak-site-title.site-title-sub{
  display: inline-block;
  font-size: $ak-font-size-h2*$ak-font-scale-factor-0;
  color: $ak-color-title-menu-green;
  position: relative;
  bottom: 4px;
}
 
/* The main menu rules */
#menu-main-nav-menu{
  padding-left: 17px;
  padding-right: 17px;
  background-color: $ak-color-menu-background-soft-green;
  
  .menu-item{
    font-size: 28px;
    /*width: 120px;*/
    text-align: center;
    padding-left:9px;
    padding-right:9px;
    padding-top: 8px;
    padding-bottom: 5px;
    position: relative;
  }
  
  .menu-item.current-menu-item, .current-menu-ancestor{
    background-color: $ak-color-menu-item-active-soft-green;
  }
/*  .menu-item::after{
    content: '|';
    font-size: 26px;
    color: $ak-color-main-orange;
    margin-left: 13px;
    position: relative;
  }*/
  .menu-item:hover .sub-menu{
    display: block;
    position: absolute;
    top: 23px;
    left: 0px;
    
  }
  .sub-menu{
    background-color: $ak-color-menu-dropdown-background-dark-green;
    padding: 0px;
    margin-top: 30px;
    border-radius: 1px;
    width: 150%;
    color: $ak-color-article-text-white;
    .menu-item{
      display: block;
      font-size: 20px;
      margin: 0px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 7px;
      padding-bottom: 7px;
      line-height: 1.2em;
      text-align: left;
    }
    & a{
      color: inherit; 
    }
    .li{
    }
  }
}

#menu-main-nav-menu .sub-menu{
    //display: none;
}

/*#menu-main-nav-menu .sub-menu .rolled-up{
    display: block;
    li{
        display: block;
        border: none;
    }
}*/

li.menu-item{
    display: inline-block;
}

li.menu-item a:link{
    color: $ak-color-menu-link-orange;
}

li.menu-item a:visited{
    color: $ak-color-menu-link-orange;
}

li.menu-item a:hover{
    color: $ak-color-menu-link-orange-hover;
}

.apo-koinou.ak-logo.l1-wrapper{
    display: inline;
}

.apo-koinou.ak-logo.l2-wrapper{
    display: inline;
}

/*img.apo-koinou.logo-img{
    height: 170px;
}*/