/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2017, 10:00:42 PM
    Author     : mandravinus
*/

$ak-color-white: rgb(255, 255, 255);
$ak-color-border-green: rgb(97, 137, 129);
$ak-color-title-menu-green: rgb(78, 124, 113);
$ak-color-secondary-text-green: rgb(106, 146, 138);
$ak-color-archive-article-title-green: rgb(60, 96, 89);
$ak-color-main-orange: rgb(252, 119, 66);
$ak-color-menu-link-orange: rgb(233, 100, 47);
$ak-color-menu-link-orange-hover: rgb(248, 175, 28);
$ak-color-menu-background-soft-green: rgb(207,229, 204);
$ak-color-menu-item-active-soft-green: rgb(181, 215, 177);
$ak-color-menu-dropdown-background-dark-green: rgb(99, 123, 95);
$ak-color-article-text-black: rgb(30, 30, 30);
$ak-color-article-text-white: rgb(251, 251, 251);
$ak-color-article-background: rgb(248, 248, 248);
$ak-color-header-section-background: rgb(253, 251, 243);
$ak-color-post-section-background: rgb(240, 247, 239);
$ak-color-category-color-1: rgb(232, 142, 109);
$ak-color-category-color-2: rgb(111, 210, 108);
$ak-color-category-color-3: rgb(95, 165, 197);
$ak-color-category-color-4: rgb(155, 82, 177);
$ak-color-category-color-5: rgb(197, 181, 79);
$ak-color-category-color-6: rgb(246, 72, 72);

$ak-font-size-h1: 34px;
$ak-font-size-h2: $ak-font-size-h1*0.8;
$ak-font-size-h3-breadcrumbs: $ak-font-size-h1*.65;
$ak-font-size-label: 4px;
$ak-font-size-preview-text: 16px;
$ak-font-size-preview-date: 14px;
$ak-font-size-single-text: 18px;
$ak-font-size-single-date: 14px;

$ak-article-text-indent: 1.2em;

$ak-font-scale-factor-0: 1;
$ak-font-scale-factor-1: 1.15;
$ak-font-scale-factor-2: 1.3;
$ak-font-scale-factor-3: 1.45;
$ak-font-scale-factor-4: 1.6;
$ak-font-scale-factor-5: 1.75;

/*
    Import the fonts for the site
*/
@font-face{
    font-family: Garamond;
    src: url('../fonts/EBGaramond12-Regular.ttf');
    font-style: normal;
    font-weight: normal;
};

@font-face{
    font-family: Garamond;
    src: url('../fonts/EBGaramond08-Regular.ttf');
    font-style: normal;
    font-weight: bold;
};

@font-face{
    font-family: Garamond;
    src: url('fonts/EBGaramond12-Italic.ttf');
    font-style: italic;
    font-weight: normal;
};

@font-face{
    font-family: Garamond;
    src: url('fonts/EBGaramond08-Italic.ttf');
    font-style: italic;
    font-weight: bold;
};

/*
  To enable when I have sorted out exactly how to treat this widget.
  the options are to set a background div, or to sort out how to put paddings
  on an inline-block div.
*/ 
.apo-koinou.category-indicator.indicator-content > .label-rectangle{
/*  display: inline-block;
  width: 50px;*/
}

.apo-koinou.category-indicator.indicator-content.article_ak{
  > .label-rectangle{
    background-color: $ak-color-category-color-1;
  }
  > .little-square{
    border-color: $ak-color-category-color-1;
  }
}

.apo-koinou.category-indicator.indicator-content.article_repost{
  > .label-rectangle{
    background-color: $ak-color-category-color-2;
  }
  > .little-square{
    border-color: $ak-color-category-color-2;
  }
}
 
.apo-koinou.category-indicator.indicator-content.article_translation{
  > .label-rectangle{
    background-color: $ak-color-category-color-3;
  }
  > .little-square{
    border-color: $ak-color-category-color-3;
  }
}
 
.apo-koinou.category-indicator.indicator-content.apo_koinou_news, .apo-koinou.category-indicator.indicator-content.news_ak{
  > .label-rectangle{
    background-color: $ak-color-category-color-4;
  }
  > .little-square{
    border-color: $ak-color-category-color-4;
  }
}
 
.apo-koinou.category-indicator.indicator-content.action_ak{
  > .label-rectangle{
    background-color: $ak-color-category-color-5;
  }
  > .little-square{
    border-color: $ak-color-category-color-5;
  }
}
 
.apo-koinou.category-indicator.indicator-content.action_participation{
  > .label-rectangle{
    background-color: $ak-color-category-color-6;
  }
  > .little-square{
    border-color: $ak-color-category-color-6;
  }
}
 

body{
    background-color: $ak-color-white;
    font-family: Garamond;
}

div.post-section-wrapper{
  background-color: $ak-color-post-section-background;
}

h1.apo-koinou.page-title.page-title-text{
  color: $ak-color-archive-article-title-green;
  display: inline-block;
}

a.apo-koinou.page-title.page-title-link{
  display: inline-block;
}
.apo-koinou.breadcrumbs.breadcrumbs-symbol{
  color: $ak-color-menu-link-orange;
  display: inline-block;
}

h3.apo-koinou.breadcrumbs.breadcrumbs-text{
  color: $ak-color-secondary-text-green;
  display: inline-block;
}


@media screen and (max-width: 320px){
  h1.apo-koinou.page-title.page-title-text{
    font-size: $ak-font-size-h1;
  }  
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol{
    font-size: $ak-font-size-h3-breadcrumbs;
  }
  h3.apo-koinou.breadcrumbs.breadcrumbs-text{
    font-size: $ak-font-size-h3-breadcrumbs;
  }
  h2.apo-koinou.static-title.title-text{
    font-size: $ak-font-size-h2;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px){
  h1.apo-koinou.page-title.page-title-text{
    font-size: $ak-font-size-h1*$ak-font-scale-factor-1;
  }
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-1;
  }
  h3.apo-koinou.breadcrumbs.breadcrumbs-text{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-1;
  }
  h2.apo-koinou.static-title.title-text{
    font-size: $ak-font-size-h2*$ak-font-scale-factor-1;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  h1.apo-koinou.page-title.page-title-text{
    font-size: $ak-font-size-h1*$ak-font-scale-factor-1;
  }
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-1;
  } 
  h3.apo-koinou.breadcrumbs.breadcrumbs-text{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-1;
  }
  h2.apo-koinou.static-title.title-text{
    font-size: $ak-font-size-h2*$ak-font-scale-factor-1;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px){
  h1.apo-koinou.page-title.page-title-text{
    font-size: $ak-font-size-h1*$ak-font-scale-factor-3;
  }
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-3;
  } 
  h3.apo-koinou.breadcrumbs.breadcrumbs-text{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-3;
  }
  h2.apo-koinou.static-title.title-text{
    font-size: $ak-font-size-h2*$ak-font-scale-factor-3;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
  h1.apo-koinou.page-title.page-title-text{
    font-size: $ak-font-size-h1*$ak-font-scale-factor-3;
  }
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-3;
  } 
  h3.apo-koinou.breadcrumbs.breadcrumbs-text{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-3;
  }
  h2.apo-koinou.static-title.title-text{
    font-size: $ak-font-size-h2*$ak-font-scale-factor-3;
  }
}

@media screen and (min-width: 1201px){
  h1.apo-koinou.page-title.page-title-text{
    font-size: $ak-font-size-h1*$ak-font-scale-factor-3;
  }
  span.apo-koinou.breadcrumbs.breadcrumbs-symbol{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-3;
  } 
  h3.apo-koinou.breadcrumbs.breadcrumbs-text{
    font-size: $ak-font-size-h3-breadcrumbs*$ak-font-scale-factor-3;
  }
  h2.apo-koinou.static-title.title-text{
    font-size: $ak-font-size-h2*$ak-font-scale-factor-3;
  }
}